@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-ink-bg text-slate-50 font-sans min-h-screen flex flex-col antialiased selection:bg-accent selection:text-white;
  }
}

/* Custom Developer Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0c10;
}
::-webkit-scrollbar-thumb {
  background: #202638;
}
::-webkit-scrollbar-thumb:hover {
  background: #d97706;
}
